// COLOR PALATE
$off-white:#EFEFEF
$gray-black: #444

$blue-white: #f6f2f1
$back-color: #EBECF0

// DECLARATION
$font-color: $gray-black
$bg: $off-white

// TODO - Make this file stop compiling to css (because it is unnessasary) or make this a css that can use by sass